.titulo {
    color: rgb(255, 0, 0); 
    opacity: 10;
    width: 500;
    height: 50;
    background-color: rgb(30, 161, 91);
}

.fondo {background-color: rgb(255, 255, 255);}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}