@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
body{
  font-family: 'Rampart One', cursive;
}
/* Este es el estilo que va a tener el tiulo de la pagina */
.titulo {
    color:#ffffff;
    width: 400;
    height: 50;
    background-color: rgb(30, 161, 91);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 23px;
    border-radius: 10px;
    margin-top: 50px;
}

/* Es el estilo de subtitulo */
.subtitulo{
  color: #ffffff;
  padding: 10px;
  margin: -30px;
}

/* es la clase que va a tener el fondo */
.fondo {background-image: url(./assets/wallpaperbetter.jpg);}

/* es el Id de la setion padre donde vas a seleccionar tu mascota */
#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Clase de seleccionar mascota de fondo */
.clases-botones{
  width: 225px;
  height: 130px;
  background-color: #2c39a1;
  padding: 17px;
  box-sizing: border-box;
  border: 8px solid;
  color: rgb(175, 162, 162);
  display: flex;
  column-gap: -7px;
  border-radius: 24px;
  margin: 10px;
  align-items: center;
}
/* clase para poner el tamaño debido a las imagenes de los */
.clases-botones img{
    width: 120px;
}

/* Esta clase encierra todos los botones de los moquepones en un cuadrado */
.botones-encerrados, .tarjetas-ataque
{
  display: flex;
  gap: 10px;
  background-color: rgb(0 126 255);;
  border: 8px solid;
  border-radius: 24px;
  color:  rgb(175, 162, 162);
  align-items: center;
  padding: 20px;
}

/*esto ocula los imputs y que no aparezca en pantalla*/
input{
   display: none;
}

/* Esto sirve para que los imputs seleccionados salgan con un color */
input:checked+ label{
  background-color: aquamarine;
}
/* sirver para que al momento de presionar un boton este salga de un color por un momento */
button:active{
  background-color: brown;
}

/* Esto es el boton de seleccionar las mascotas */
#boton-mascota{    
  width: 169px;
  height: 53px;
  background-color:  rgb(27, 0, 124);
  padding: 1px;
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid;
  color: #ffffff;
  border-radius: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Esta en la seccion en donde se organiza los ataques y los resultados */
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

/* Es la clase que van a tener los botones de atacar al enemigo */
.Boton-de-ataque{
    width: 80px;
    background-color: #2c39a1;
    padding: 10px;
    border-radius: 15px;
    border-color: transparent;
    color: white;
    margin: 10px;
}
/* hace referencia al menseja de los resultados de cada enfrentamiento */
#mensajes{
  width: 250px;
  height: 100px;
  background-color: rgb(255, 255, 255); 
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Es la clase de estilo que va a tener el boton de reiniciar que se supone que aparece adentro de mensajes */
#boton-reiniciar{
  border:none;
  color: #0400ff;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
}

/* Es el resultado de cada enfrentamiento y muestra el elemento usado y el numero de vidasd el jugador y el enemigo usando el grid */
.ataque{
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
  justify-items: stretch;
  align-items: start;
}

/* esto es el estilo del resultado del jugador mostrado dentro del grid*/
.mostrar-jugador, .mostrar-enemigo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 10px;
  background-color: aqua;
  margin-top: 25px;
}

#ver-mapa{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mapa{
  border: 2px solid wheat;
}

/* Esto lo que hace es adaptar los elementos de la pagina a una resolucion especifica */
@media (max-width: 700px){
  .botones-encerrados, .tarjetas-ataque{
    flex-direction: column;
  }
}
@media (max-width: 500px){
  .fondo{
    flex-direction: column;
  }
}
