p{
    text-align: center;
     background: rgb(131, 131, 131);
}

body{
    background-color: rgb(131, 131, 131);
}

 em strong{
     color: brown;
}

h1{
    text-align: center;
}

#vision{
    font-size: 20px;
}

